@font-face {
    font-family: "OpenSans-VariableFont_wdth,wght";
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'OpenSans-VariableFont_wdth,wght', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#009688 0%, #009688 130px, #d9dbd5 130px, #d9dbd5 100%)
}

.container{
    position: relative;
    width: 1296px;
    max-width: 100%;
    height: calc(100vh - 40px);
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06), 0 2px 5px rgba(0,0,0,0.06);
    display: flex;
}

.container .leftSide{
    position: relative;
    flex: 30%;
    background: #fff;
}

.container .rigthSide{
    position: relative;
    flex: 70%;
    background: #e5ddd5;
    border-left: 1px solid rgba(0,0,0,0.2);
}

.container .rigthSide::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/static/img/pattern.png);
    opacity: 0.06;
}

.header{
    width: 100%;
    height: 60px;
    background: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.userimg{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav_icons{
    display: flex;
}

.nav_icons li{
    display: flex;
    list-style: none;
    cursor: pointer;
    color: #51585c;
    font-size: 1.5em;
    margin-left: 22px;
}

.search_chat{
    position: relative;
    width: 100%;
    height: 50px;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.search_chat div{
    width: 100%;
}

.search_chat div input{
    width: 100%;
    outline: none;
    border: none;
    background: #fff;
    padding: 6px;
    height: 38px;
    border-radius: 30px;
    font-size: 14px;
    padding-left: 40px;
}

.search_chat div input::placeholder{
    color: #bbb;
}

.search_chat div i{
    position: absolute;
    left: 30px;
    top: 14px;
    font-size: 1.2em;
    color: #bbb;
}

#chats, #nuevoChat, #configuracion{
    display: none;
}

#chats:checked ~ .listaChat,
#nuevoChat:checked ~ .nuevochat,
#configuracion:checked ~ .configuracion
{
    opacity: 1;
    visibility: visible;
}

.listaChat{
    position: absolute;
    height: calc(100% - 110px); /* 60px (header) + 50px(search) = 110 px ocuapan del asideLeft*/
    width: 100%;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
}

.listaChat .chat{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.06);
    cursor: pointer;
}

.listaChat .chat.active{
    background: #ebebeb;
}

.listaChat .chat:hover{
    background: #f5f5f5;
}

.listaChat .chat .imgChat{
    position: relative;
    min-width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.listaChat .chat .detallesChat{
    position: relative;
    width: 100%;
}

.listaChat .chat .detallesChat .nombreChat{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.listaChat .chat .detallesChat .nombreChat h4{
    font-size: 1.1em;
    font-weight: 600;
    color: #111;
}

.listaChat .chat .detallesChat .nombreChat .time{
    font-size: 0.75em;
    color: #aaa;
}

.listaChat .chat.unread .detallesChat .nombreChat .time{
    color: #06d755;
}

.mensajeChat{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mensajeChat p{
    color: #aaa;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 0.9em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mensajeChat b{
    background: #06d755;
    color: #fff;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5em;
}

.nuevochat{
    position: absolute;
    height: calc(100% - 110px); /* 60px (header) + 50px(search) = 110 px ocuapan del asideLeft*/
    width: 100%;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
}
.crearSala{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 10px;
    margin: 0 auto;
    width: 90%;
}

.crearSala input{
    width: 100%;
    height: 40px;
    padding-left: 30px;
    border-radius: 10px;
    background: #28fa6ac8;
    border-color: #51585c;
    font-size: 1.2em;
    font-weight: 400;
    font-weight: 400;
    outline: none;
    color: #fff;
}

.crearSala button{
    margin-top: 30px;
    width: 100%;
    height: 40px;
    background-color: #06d755;
    color: #fff;
    border-color: #51585c;
    font-size: 1.2em;
    font-weight: 500;
    border-radius: 50px;
    cursor: pointer;
}

.configuracion{
    position: absolute;
    height: calc(100% - 110px); /* 60px (header) + 50px(search) = 110 px ocuapan del asideLeft*/
    width: 100%;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    padding: 0 auto;
}

.configuracion .userimg{
    position: relative;
    margin: 20px auto;
    width: 180px;
    height: 180px;
    overflow: hidden;
    border-radius: 50%;
}

.configuracion .infoPerfil{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
}

.configuracion .infoPerfil label{
    color: #06d755;
    font-size: 1em;
}

.configuracion .infoPerfil .infonombre{
    position: relative;
}

.configuracion .infoPerfil .infonombre .nombreusuariodefault{
    position: absolute;
    color: #51585c;

}

.configuracion .infoPerfil .infonombre .nombreusuario{
    position: absolute;
    width: 120px;
    padding-left: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #06d755;
    font-size: 1em;
    outline: none;
    color: #51585c;

}

.configuracion .infoPerfil .infonombre button{
    position: absolute;
    left: calc(100% - 20px);
    top: 5px;
    cursor: pointer;
    background: none;
    border: none;
}

/* cabecera de cada chat */
#headerchat{
    visibility: hidden;
}

#chatInput{
    visibility: hidden;
}

#salirChat{
    z-index: 10;
}

.imgText{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgText h4{
    font-weight: 500;
    line-height: 1.2em;
    margin-left: 15px;
}

.imgText h4 span{
    font-size: 0.8em;
    color: #555;
}

.listaMensajes{
    position: relative;
    width: 100%;
    height: calc(100% - 120px); /* 60px de cabecera + 60px de barra abajo*/
    padding: 0 50px 0 50px;
    overflow-y: auto;
}
.chatBox{
    position: relative;
}

.mensaje{
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
}

.mensaje p{
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 12px;
    background: #dcf8c6;
    border-radius: 10px;
    font-size: 0.9em;
}

.mensaje p::before{
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg, #dcf8c6 0%, #dcf8c6 50%, transparent 50%, transparent);
}

.mensaje p span{
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
    opacity: 0.5;
}

.my_mensaje{
    justify-content: flex-end;
}

.friend_mensaje{
    justify-content: flex-start;
}

.friend_mensaje p{
    background: #fff;
    text-align: left;
}

.mensaje.friend_mensaje p::before{
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(225deg, #fff 0%, #fff 50%, transparent 50%, transparent);
}

.chatbox_input{
    position: relative;
    width: 100%;
    height: 60px;
    background: #f0f0f0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatbox_input i{
    cursor: pointer;
    font-size: 1.8em;
    color: #51585c;
}

.chatbox_input i:nth-child(1){
    margin-right: 15px;
}

.chatbox_input input{
    position: relative;
    width: 90%;
    margin: 0 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1em;
}

.containerInicio{
    position: relative;
    width: 1296px;
    max-width: 100%;
    height: calc(100vh - 40px);
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06), 0 2px 5px rgba(0,0,0,0.06);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("/static/img/pattern.png");
}

.containerInicio .txtInicio{
    position: relative;
    height: 100px;
    margin: 0 60px;
    border-radius: 10px;
    border: 1px solid #51585c;
    text-align: center;
    justify-content: center;
    line-height: 50px;
    background-image: url("/static/img/pattern.png");
    background-color: #111;
}

.txtInicio h1{
    color: #fff;
}


.txtInicio p{
    position: relative;
    margin-top: 5px;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    opacity: 0.5;
}

.formularioUsuario{
    position: relative;
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formularioUsuario input{
    width: 30%;
    height: 40px;
    padding-left: 30px;
    border-radius: 10px;
    background: #28fa6ac8;
    border-color: #51585c;
    font-size: 1.2em;
    font-weight: 400;
    font-weight: 400;
    outline: none;
    color: #fff;
}


.formularioUsuario span{
    position: absolute;
    top: 10px;
    left: 36%;
    opacity: 0.5;
}

.formularioUsuario button{
    margin-top: 30px;
    width: 30%;
    height: 40px;
    background-color: #06d755;
    color: #fff;
    border-color: #51585c;
    font-size: 1.2em;
    font-weight: 500;
    border-radius: 50px;
    cursor: pointer;
}

.formularioUsuario .alert{
    visibility: hidden;
    position: relative;
    width: 30%;
    height: 40px;
    border: 1px solid #51585c;
    margin-top: 10px;
    background: #009688;
    font-size: larger;
    padding: 20px;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    justify-content: center;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.formularioUsuario .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display:none;
    position: absolute;
    background-color: #ededed;
    min-width: 200px;
    font-size: 0.7em;
    color: #555;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content label{
    padding: 12px 16px;
    text-decoration: none;
    color:#51585c
}

.dropdown-content label:hover{
    cursor: pointer;
    background-color: #aaa;
}

#dropdown:hover .dropdown-content{
    position: absolute;
    right: -185px;
    top: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.log{
    position: relative;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    align-items: center;
    background: #51585c;
    border-radius: 10px;
    color: #dcf8c6;
    margin-top: 5px;
}

.radioChat{
    display: none;
}