{% extends "/layout.html"%}
{%block title%}
Chatea
{%endblock%}
{%block body%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <main class="container">
        <aside class="leftSide"> 
            <!-- header -->
            <div class="header">
                <div class="userimg">
                    <img src="/static/img/user.png" alt="" class="cover">
                </div>
                <ul class="nav_icons">
                    <li><i class="fa-solid fa-message"></i></li>
                    <li><i class="fa-regular fa-circle-stop"></i></li>
                    <li>
                        <i class="fa-solid fa-ellipsis-vertical" id="dropdown">
                            <div class="dropdown-content">
                                <label for="chats">Salas</label>
                                <label for="nuevoChat">Nueva Sala</label>
                                <label for="configuracion">Configuración</label>
                                <label  onclick="cerrarSesion()">Cerrar Sesión</label>
                            </div>
                        </i>
                    </li>
                </ul>
            </div>
            <!-- search  -->
            <div class="search_chat">
                <div>
                    <input type="text" placeholder="Search or start new chat">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>

            <input type="radio" name="radio" id="chats" checked>
            <!-- lista de chats -->
            <div class="listaChat" id="listaChat">
                <div class="chat active">
                    <div class="imgChat">
                        <img src="/static/img/user.png" alt="" class="cover">
                    </div>
                    <div class="detallesChat">
                        <div class="nombreChat" id="nombreChat">
                            <h4>Jerry Espino</h4>
                            <!--fecha o hora-->
                            <p class="time">4:20</p>
                        </div>
                        <div class="mensajeChat">
                            <p>Este es un mesaje largo para probar el overflow-hidden</p>
                        </div>
                    </div>
                </div>
                <!--chat no leido-->
                <div class="chat unread">
                    <div class="imgChat">
                        <img src="/static/img/user.png" alt="" class="cover">
                    </div>
                    <div class="detallesChat">
                        <div class="nombreChat">
                            <h4>El no perdona nada 3000</h4>
                            <p class="time">5:55</p>
                        </div>
                        <div class="mensajeChat">
                            <p>Este es un mesaje que no ha sido abierto</p>
                            <b>1</b>
                        </div>
                    </div>
                </div>
            </div>

            <!-- nuevo chat -->
            <input type="radio" name="radio" id="nuevoChat">
            <div class="nuevochat" >
                <div class="crearSala">
                    <input type="text" id="nombreSala" onkeyup="enter(event)" placeholder="Ingresa Nombre de la Sala">
                    <button onClick="crearSala()">Crear Sala</button>
                </div>
            </div>

             <!-- configuracion -->
            <input type="radio" name="radio" id="configuracion">
            <div class="configuracion">
                <div class="userimg">
                    <img src="/static/img/user.png" alt="" class="cover">
                </div>
                <div class="infoPerfil">
                    <label for="">Tu Usuario</label>
                    <div class="infonombre">
                        <span id="nombreusuariodefault" class="nombreusuariodefault"></span>
                        <input type="text" name="nombreusuario" id="nombreusuario" class="nombreusuario">
                        <button title="Haz click para editar tu usuario">
                            <i id="editarConfirmar" onclick="editarConfirmar(this)" class="fa-solid fa-pen" style="color: #606876;"></i>
                        </button>                            
                    </div>
                </div>
            </div>

        </aside>

         <!-- Rigth side -->
        <aside class="rigthSide">
            <div class="header">
                <div class="imgText">
                    <div class="userimg">
                        <img src="/static/img/user.png" alt="" class="cover">
                    </div>
                    <h4>Jerry Espino <br><span>online</span></h4>
                </div>
                <ul class="nav_icons">
                    <li><i class="fa-solid fa-magnifying-glass"></i></li>
                    <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                </ul>
            </div>

            <!--  chatbox  -->
            <div class="listaMensajes" id="listaMensajes">
            </div>

            <!--   Chat input   -->
            <div class="chatbox_input">
                <i class="fa-regular fa-face-laugh"></i>
                <i class="fa-solid fa-paperclip"></i>
                <input type="text" name="mensaje" id="mensaje" placeholder="Escribe un mensaje">
                <i class="fa-solid fa-microphone"></i>

            </div>
        </aside>
    </main>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="/static/js/app.js"></script>
</body>
{%endblock%}