{% extends "/layout.html"%}
{%block title%}
Chatea
{%endblock%}
{%block body%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <main class="container">
        <aside class="leftSide"> 
            <!-- header -->
            <div class="header">
                <div class="userimg">
                    <img src="/static/img/user.png" alt="" class="cover">
                </div>
                <ul class="nav_icons">
                    <li><label for="chats" title="Lista de Salas"><i class="fa-solid fa-message"></i></label></li>
                    <li><label title="Estados (de momento no disponible)"><i class="fa-regular fa-circle-stop"></i></label></li>
                    <li><label>
                        <i class="fa-solid fa-ellipsis-vertical" id="dropdown">
                            <div class="dropdown-content">
                                <label for="chats">Salas</label>
                                <label for="nuevoChat">Nueva Sala</label>
                                <label for="configuracion">Configuración</label>
                                <label onclick="cerrarSesion()">Cerrar Sesión</label>
                            </div>
                        </i>
                    </label></li>
                </ul>
            </div>
            <!-- search  -->
            <div class="search_chat">
                <div>
                    <input type="text" name="searchChat" placeholder="Search or start new chat">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>

            <!-- lista de chats -->
            <input type="radio" name="radio" id="chats" checked>
            <div class="listaChat" id="listaChat">
            </div>

            <!-- nuevo chat -->
            <input type="radio" name="radio" id="nuevoChat">
            <div class="nuevochat" >
                <div class="crearSala">
                    <input type="text" id="nombreSala" placeholder="Ingresa Nombre de la Sala">
                    <button id="crearSala" onClick="crearSala()">Crear Sala</button>
                </div>
            </div>

             <!-- configuracion -->
            <input type="radio" name="radio" id="configuracion">
            <div class="configuracion">
                <div class="userimg">
                    <img src="/static/img/user.png" alt="" class="cover">
                </div>
                <div class="infoPerfil">
                    <label for="nombreusuario">Tu Usuario</label>
                    <div class="infonombre">
                        <span id="nombreusuariodefault" class="nombreusuariodefault"></span>
                        <input type="text" name="nombreusuario" id="nombreusuario" class="nombreusuario">
                        <button title="Haz click para editar tu usuario">
                            <i id="editarConfirmar" onclick="editarConfirmar(this)" class="fa-solid fa-pen" style="color: #606876;"></i>
                        </button>                            
                    </div>
                </div>
            </div>

        </aside>

         <!-- Rigth side -->
        <aside class="rigthSide" id="rigthSide">
            <div class="header" id="headerchat">
                <div class="imgText">
                    <div class="userimg">
                        <img src="/static/img/profile.png" alt="" class="cover">
                    </div>
                    <h4 id="nombreChat">Jerry Espino <br><span>online</span></h4>
                </div>
                <ul class="nav_icons">
                    <li><i class="fa-solid fa-magnifying-glass"></i></li>
                    <li><i id="salirChat" title="Haz click para abandonar el chat" onclick="leaveRoom()" class="fa-solid fa-right-from-bracket"></i></li>
                </ul>
            </div>

            <!--  chatbox  -->
            <div class="listaMensajes" id="listaMensajes">
            </div>

            <!--   Chat input   -->
            <div class="chatbox_input" id="chatInput">
                <i class="fa-regular fa-face-laugh"></i>
                <i class="fa-solid fa-paperclip" onclick="subirArchivo()"></i>
                <!--   input para imagenes-->
                <input type="file" name="attach" id="attach" accept=".jpg, .png">
                <!--   input para mensajes-->
                <input type="text" name="mensaje" id="mensaje" placeholder="Escribe un mensaje">
                <i onclick="sendMenssage()" class="fa-solid fa-paper-plane"></i>
            </div>
        </aside>
    </main>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="/static/js/app.js"></script>
</body>
{%endblock%}