{% extends "/layout.html"%}
{%block title%}
Registrate
{%endblock%}

{%block body%}
<main class="containerInicio">
  <div class="txtInicio">
    <h1>Primero, escribe tu usuario</h1>
    <p>Te sugerimos que uses un usario creativo</p>
  </div>
  <div class="formularioUsuario">
    <label for="usuario"></label>
    <input type="text" class="form-control" name="usuario" id="usuario"
      aria-describedby="emailHelpId" placeholder="Ingresa tu usuario" autofocus autocomplete="off">
    <span>@</span>
    <button onclick="conectarUsuario()">Continuar</button>
        <div class="alert" id="alert">
        </div>
      </div>
</main>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="/static/js/index.js"></script>
{%endblock%}